 .chat-message-user{
      display:flex;
      justify-content: flex-end;
      align-items: start;
      
    }
    .chat-message-robot{
      display:flex;
      justify-content: flex-start;
      align-items: start;
    }

    .chat-message-text{
      background-color: lightgrey;
      border-radius: 15px;
      padding:10px 15px;
     margin:10px 12px;
      max-width: 70%;
    
      
      
    }

    .chat-message-user-img{
      max-width: 50px;
    }

    .chat-message-robot-img{
      max-width: 50px;
    }
